<header class="header">
	<nav class="navigation">
        <section class="header-nav">
        	<a href="http://cornishmouth.cc" title="cart">
  				<h1>.index</h1>
  			</a>
        </section>

		<section class="branding">
	        <a href="/">
	            <h2>Home</h2>
	            <img src="{{ "/assets/images/comp-4.png" | relative_url }}" alt="shhbbv">
	        </a>
	    </section>

        <section class="cart-link">
          <a href="" title="cart">
            <h1>cart #<span class="simpleCart_quantity"></span>.</h1>
          </a>
        </section>

        <section id="cartPopover" style="display: block;">
          <div id="triangle">▲</div>
          <div class="simpleCart_items"></div>
          <div id="cartData" class="clearfix">
            <div class="left"><strong>Items: </strong><span class="simpleCart_quantity"></span></div>
            <div class="right"><strong>Total: </strong><span class="simpleCart_total"></span></div>
          </div>
          <div id="popoverButtons" class="clearfix">
            <a href="/cart/" class="hudbtn left">View</a>
            <a class="button right" href="/checkout/">Checkout</a>
          </div>
        </section>
	</nav>
</header>