<header class="header">
	<nav class="navigation">
        <section class="header-nav">
        	<a href="http://cornishmouth.cc">
  				<h1 class="navigation-page-title open-menu">.index</h1>
  			</a>
        </section>

		<section class="branding">
	        <a href="http://cornishmouth.cc">
	            <h2>Home</h2>
	            <img src="{{ "/assets/images/comp-2.gif" | relative_url }}" alt="shhbbv">
              <section class="swap" style="background-image:url('{{ site.baseurl }}/{{ post.thumbnail }}');"></section>
	        </a>
	    </section>

        <section class="cart-link">
          <a href="/cart" title="Cart">
            <span class="sad icon"><i></i></span>
          </a>
        </section>
	</nav>
</header>