@import url('https://rsms.me/inter/inter-ui.css');

/* Layout */

html{
  font-size: 0.938em;
}

body {
	font-family: 'Inter UI', sans-serif;
	background-color: #ffe4ab;
		-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	word-wrap: break-word;
    	-moz-hyphens: auto;
}

.branding{
	text-align: center;
	padding: 40px 0 55px;
}

.branding a h2 {
	display: none;
}

