@import url('https://rsms.me/inter/inter-ui.css');

/* Layout */

html{
  font-size: 0.938em;
}

body {
	font-family: 'Inter UI', sans-serif;
	background-color: #ffe4ab;
		-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	word-wrap: break-word;
    	-moz-hyphens: auto;
}

.header{
	background: #ffe4ab;
	height: 220px;
	width: 100%;
	padding: 1rem 0 2rem;
	transition: height 0.4s;
		-webkit-transition: height 0.4s;
		-moz-transition: height 0.4s;
		-o-transition: height 0.4s;
}

header .navigation{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	height: 100%;
	position: relative;
	z-index: 5;
}

header .navigation a {
	font-weight: 700;
	font-size: 11px;
	line-height: 30px;
	letter-spacing: .04em;
	color: #364148;
	text-decoration: none;
}

header .header-nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	isplay: inline-block;
	max-width: 30%;
	text-align: right;
}

header .header-nav a{
	font-weight: 700;
}

header .branding{
	text-align: center;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	color: #A0A0A0;
	display: inline-block;
	font-size: 22px;
	height: 100%;
	max-width: 40%;
	text-align: center;
}

.branding a h2 {
	display: none;
}

header .cart-link{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	display: inline-block;
	max-width: 30%;
	position: relative;
	text-align: left;
}

.sad.icon {
  color: #000;
  position: absolute;
  margin-left: 5px;
  margin-top: -5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.sad.icon:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.sad.icon:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.sad.icon i {
  position: absolute;
  left: 3px;
  top: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-bottom: solid 1px transparent;
  border-top: solid 1px currentColor;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
}

.sad.icon i:hover {
  position: absolute;
  left: 2px;
  top: 9px;
  width: 10px;
  height: 4px;
  border-radius: 0 0 6px 6px;
  border: solid 1px currentColor;
}