@import url('https://rsms.me/inter/inter-ui.css');

/* Layout */

html{
  font-size: 0.938em;
}

body {
	font-family: 'Inter UI', sans-serif;
	background-color: #ffe4ab;
		-webkit-font-smoothing: antialiased;
}

.wrapper {
	min-height: 100%;
	width: 100%;
	word-wrap: break-word;
    	-moz-hyphens: auto;
}

.header{
	background: #ffe4ab;
	height: 220px;
	width: 100%;
	margin-top: 4rem; 
	padding: 1rem 0 2rem;
	transition: height 0.4s;
		-webkit-transition: height 0.4s;
		-moz-transition: height 0.4s;
		-o-transition: height 0.4s;
}

header .navigation{
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	height: 100%;
	position: relative;
	padding-right: 1rem;
	z-index: 5;
}

header .navigation a {
	font-weight: 700;
	font-size: 11px;
	line-height: 30px;
	letter-spacing: .04em;
	color: #364148;
	text-decoration: none;
}

header .header-nav {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	isplay: inline-block;
	max-width: 20%;
	text-align: right;
}

@media (min-width: 550px) {
  header .header-nav {
    max-width: 30%; }
}


header .branding{
	text-align: center;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	color: #A0A0A0;
	display: inline-block;
	font-size: 22px;
	height: 100%;
	max-width: 60%;
	text-align: center;
}

@media (min-width: 550px) {
  header .branding {
    max-width: 40%; }
}

.branding a h2 {
	display: none;
}

header .cart-link{
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3;
	display: inline-block;
	max-width: 20%;
	padding-left: 1rem;
	position: relative;
	text-align: left;
}

@media (min-width: 550px) {
  header .cart-link {
    max-width: 30%; }
}

.sad.icon {
  color: #000;
  position: absolute;
  margin-left: 5px;
  margin-top: -5px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.sad.icon:before {
  content: '';
  position: absolute;
  left: 3px;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.sad.icon:after {
  content: '';
  position: absolute;
  right: 3px;
  top: 3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  border: solid 1px currentColor;
}
.sad.icon i {
  position: absolute;
  left: 3px;
  top: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-bottom: solid 1px transparent;
  border-top: solid 1px currentColor;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
}

.sad.icon i:hover {
  position: absolute;
  left: 2px;
  top: 9px;
  width: 10px;
  height: 4px;
  border-radius: 0 0 6px 6px;
  border: solid 1px currentColor;
}

.product{
	position: relative;
	max-width: 400px;
	height: auto;
	margin-bottom: 2rem;
}

.product img {
	max-width: 100%;
	box-sizing: border-box;
}


/* Content */

.content {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

@media (min-width: 400px) {
  .content {
    width: 85%;
    padding: 0; }
}

@media (min-width: 550px) {
  .content {
    width: 80%; }
}


.product-page {
	background-color: #fff;
	width: 100%;
	position: absolute;
	padding: 2rem;
}

.canvas {
  position: relative;
  width: 900px;
  margin: 0 auto;
  clear: both;
}

.page_header {
  margin-bottom: 30px;
 }

.article-content {
  position: relative;
  float: left;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 0;
}

.product-header {
  font-size: 16px;
  line-height: 1.3em;	
  text-align: center;

   position: relative;
  float: left;
  width: 220px;
  margin-top: 10px;
  margin-bottom: 0;
}

.product-title{
	font-size: 1.1em;
	font-weight: 400;
	letter-spacing: 1px;
	text-transform: uppercase;
	
	  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.product-price{
	margin-top: 1rem; 
	font-weight: 600;
}

#product_info {
  float: left;
  clear: left;
  width: 220px;
  margin-top: 22px;
  }

.product-thumb {
  float: right;
  position: relative;
  max-width: 550px;
  margin-top: 1rem;
 }

#product_images li {
  margin-bottom: 15px;
  line-height: 0;
  }

.form-submit {
  display: block;
  height: 38px;
  width: 100%;
  margin: 2em 0; 
  padding: 0 30px;
  text-align: center;
  line-height: 38px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid #3f474c;
  cursor: pointer;
  box-sizing: border-box; }
.form-submit:hover,
.form-submit:focus {
  background-color: #000; 
  color: #fff;
  border-color: #000;
  outline: 0; }

.article-content a{
	text-decoration: none;
}
