<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <section class="wrapper">
      {%- include header.html -%}

      {{ content }}

      {%- include footer.html -%}
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/js/simpleCart.min.js"></script>
    <script async src="{{ site.url }}/assets/js/main.js"></script>

    <script src="{{ site.url }}/assets/js/uilang.js"></script>
    <code>
      clicking on ".cart-link" toggles class "visible" on "#popover"
    </code>

    {% if page.layout == 'item' %}
      <script async src="{{ site.url }}/assets/js/style-picker.js"></script>
      <code>
        clicking on ".item_add" toggles class "visible" on "#popover"
      </code>
      <script>
        $(document).ready(function () {
          $('.item_add').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return false;
            });
        });
      </script>
    {% endif %}

    {% if page.url == '/checkout/' %}
      <script async src="{{ site.url }}/assets/js/checkout.js"></script>
    {% endif %}
  </body>
</html>