---
layout: default
---

  <main class="content">

    {{ content }}

    {%- if site.posts.size > 0 -%}
      {%- for post in site.posts -%}
        <article class="product">
          <a href="{{ post.url | relative_url }}" class="product-link">
            {% for item in page.sold_out %}
              <div class="product-mark sold-out">{{ page.sold_out }}</div>
            {% endfor %}
            <img class="product-image" src="{{ site.baseurl }}/{{ post.thumbnail }}">
              <div class="product_details">
                <div class="details_background"></div>
                
                    <div class="product_status">Sold Out</div>
                  
                <div class="product_name">Bolt Sprocket</div>
                <div class="product_price"><span class="currency_sign">$</span>50.00</div>
              </div>
          </a>
        </article>
      {%- endfor -%}
    {%- endif -%}

  </main>
