---
layout: default
---

  <main class="content">

    {{ content }}

    {%- if site.posts.size > 0 -%}
      {%- for post in site.posts -%}
        <article class="product">
          <a href="{{ post.url | relative_url }}" class="product-link">
            {% for item in page.sold_out %}
              <div class="product-mark sold-out">{{ page.sold_out }}</div>
            {% endfor %}
            div class="column">
            <img class="product-image" src="{{ site.baseurl }}/{{ post.thumbnail }}">
            <div class="hover">

            <div>
          </a>
        </article>
      {%- endfor -%}
    {%- endif -%}

  </main>
