---
layout: default
---

<article class="product-page">
	<div class="canvas">
		<header class="product-header">
			<p class="product-title">{{ page.title }}</p>                
			<p class="product-price">{{ page.price }}</p>
		</header>

		<section class="product-gallery">
			<div class="product-thumb">
			    {% for item in page.photos %}
			  		<img src="{{ item }}">
				{% endfor %}
			</div>
		</section>

		<section class="article-content">
			{{ content }}
			<a href="mailto:your@cornishmouth.cc?Subject=Order%20{{ page.title }}&body=Choose%20your%20{{ page.size }}{{ page.color }}">
				<button class="form-order">Order</button>
			</a>
		</section>
	</div>
</article>
