---
layout: default
---

<article class="product-page simpleCart_shelfItem">
	<div class="canvas">
		<header class="product-header">
			<p class="product-title">{{ page.title }}</p>                
			<p class="product-price item_price">{{ page.price }}</p>
		</header>

		<section class="product-gallery">
			<div class="product-thumb">
				{% for print in page.prints %}
	          		<div id="product-{{ forloop.index }}" class="style" {% unless forloop.first %}style="display: none"{% endunless %}>
	        				<img src="{{ print.photo }}" itemprop="image">
	          		</div>
	          	{% endfor %}
			</div>
		</section>


		<section class="article-content">
			{{ content }}

			<p><strong>Size available:</strong></p>
			<select class="item_size">
            	{% for size in page.sizes %}
              		<option value="{{ size }}"> {{ size }} </option>
            	{% endfor %}
          	</select>

          	<div class="style-picker">
            <p>Print:</p>
            {% for print in page.prints %}
              <div id="product-{{ forloop.index }}"{% if forloop.first %} class="item_color"{% endif %} style="background-color: {{ print.color }}"><span class="display-none">{{ print.name }}</span></div>
            {% endfor %}
        	</div>

			<p class="product-shipping">☞ Shipping available only in Ukraine. More countries will be add soon.</p>

			<p>Quantity:</p>
	          <select class="item_Quantity">
	            <option value="1"> 1 </option>
	            <option value="2"> 2 </option>
	            <option value="3"> 3 </option>
	            <option value="4"> 4 </option>
	            <option value="5"> 5 </option>
	            <option value="6"> 6 </option>
	            <option value="7"> 7 </option>
	            <option value="8"> 8 </option>
	          </select>

          <a class="item_add"><button class="form-order">Order</button></a>

		</section>
	</div>
</article>
