---
layout: default
comments: true
---


<article class="article-page">

	<header class="article-header">
		<p class="article-title">{{ page.title }}</p>                
		<p class="article-date">{{ page.date | date: "%B %-d, %Y" }}</p>
	</header>

	<section class="article-content">
		{{ content }}
		<hr>
	</section>

	<section class="article-gallery">
		<div id="scrolling-gallery">
		    <div class="page-thumb">
		        {% for item in page.photos %}
		  			<img src="{{ item }}">
				{% endfor %}
			</div>
		</div>
	</section>

</article>
